fastapi
uvicorn
phidata
python-dotenv
growwapi
pycountry
psycopg2-binary
aiosqlite
pandas
numpy
plotly
groq
google-generativeai
pydantic
requests
sqlalchemy
asyncpg
openai
duckduckgo-search
newsapi-python
